body {
	background-color: #F4F4F4;
}

input, select, textarea {
    margin-left: 0;
    margin-right: 0;
}

.page-header {
	border-bottom: 1px solid #e6e6e6;
}

hr {
	border-top: 1px solid #e6e6e6;
}


*:focus {
    outline: none;
}

/* allFiles */
#allFiles {
    padding: 0;
    margin: 0;
}

#allFiles li {
    list-style: none;
}

#allFiles li:nth-child(odd) .oneFile {
    background: #efefef;
}

/* oneFile */
.col-md-2 {
    margin-bottom: 10px;
}

.oneFile:hover * {
    text-decoration: none;
}

/* previewImg */
.previewImg {
    width: 165px;
    height: 90px;
    background: #1a1a1a;
    text-align: center;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: bottom 5px right 5px;
}
.previewImg.previewThumbnail {
	background-position: center center;
}

@media (max-width: 992px) {
	.previewImg {
		float: left; 
	}
}

.previewImg img {
    max-height: 100%;
}

.previewImgInnerDiv {
    color: #ffffff;
    background-color: rgba(0,0,0,.3);;
    float: left;
    padding: 0px 5px 0px 5px;
    margin-top: 15px;
	text-transform: uppercase;
}

.fileTitle {
	width: 100%;
	height: 50px;
	text-overflow: ellipsis;
	overflow: hidden;
}

@media (max-width: 992px) {
	.fileTitle {
		font-size: 2em;
		width: auto;
	}
}

/* fileTypes.css ... */


/* fileTitle */


#lgkOrangeFilesMark {
    position: fixed;
    z-index: 1000;
    left: 0px;
    bottom: 0px;
    background-color: #F4F4F4;
    padding: 5px;
}


.pluginCopyright {
    float: right;
    clear: both;
    margin-top: 20px;
}
